body {
    height: 100%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vb;
}

header {
    text-align: center;
    padding: 1rem;
}

header img {
    width: 300px;
    height: 110px;
}

main {
    padding: 2rem;
    flex-grow: 1;
}

form {
    height: 100%;
}

fieldset {
    background-color: #F4F1ED;
    color: firebrick;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    width: 400px;
}

legend {
    color: darkblue;
    font-weight: bold;
}

.elemento-formulario {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.file {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.button {
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    flex-grow: 0;
}

footer h3 {
    color: #F7C600;
}

a {
    color: white;
    text-decoration: none;
}

footer img {
    width: 48px;
    height: 48px;
}