body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    gap: 0 15px;
}

header nav ul a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header nav ul a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

.contenedor-mapas {
    margin: 20px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.map-card {
    background-color: white;
    border: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.map-card h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.map-card img {
    height: auto;
    width: 150px;
    margin-left: 10px;
}

.h2-y-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#NY {
    font-family: Roboto, sans-serif;
}

#LA {
    font-family: Montserrat, sans-serif;
}

#Londres {
    font-family: Oswald, sans-serif;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.descripcion {
    font-size: 1.1em;
    color: #555;
    font-family: Arial, sans-serif;
}